<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcs.dao.SecretPhoneDao">
    <resultMap id="BaseResultMap" type="com.mcs.entity.SecretPhone">
        <id column="id" property="id" />
        <result column="phone_number" property="phoneNumber"/>

    </resultMap>
    <sql id="baseColumn">
        phone_number
    </sql>
    <select id="getAllPhone" resultMap="BaseResultMap">
        select <include refid="baseColumn"/>
        from `secret_phone`

    </select>


</mapper>